<%= form_for('search', method: :get, html: { class: "form-horizontal" }) do |f| %>
  <div class="input-group">
    <%= f.text_field :freeword, class: "form-control", placeholder: "フリーワード検索", value: params.fetch(:search, {})[:freeword] %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :range, value: 5 %>
    <span class="input-group-btn">
      <%= f.submit value: "検索", id: "search_submit", class: "btn btn-default", disabled: true %>
    </span>
  </div>
<% end %>

<% if @restaurants %>
<br>
<div class="panel panel-default">
  <div class="panel-heading">検索結果</div>
  <div class="panel-body">
    <%= table_for @restaurants, html: { class: "table table-striped" } do -%>
      <% column(title: "店舗名") do |c| %>
        <% content_tag :div do %>
          <% link_to(c.name, c.url, target: "_blank") + "<br>".html_safe + content_tag(:small, c.category_name_l) %>
        <% end %>
      <% end %>
      <% column(title: "", html: { td: { style: "text-align: right;" }}) do |c| %>
        <% link_to("追加", favorites_path(gid: c.gid), method: :post, class: "btn btn-primary") %>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>

<script>
if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(position) {
    $("#search_latitude").val(position.coords.latitude);
    $("#search_longitude").val(position.coords.longitude);
    $("#search_submit").removeAttr("disabled");
  });
} else {
  $("#search_submit").removeAttr("disabled");
}
</script>
